p Dear #{applicantfirstname} #{applicantsurname},
p Further to your relase to the Temporary Assignments Scheme, this email is a notification that you have been assigned to a request.
p The requesters information is below, they will make contact with you in the coming days to arrange a start date.
ul
  li Name: #{requesterfirstname} #{requestersurname}
  li Address1: #{requesteradd1}
  li Address2: #{requesteradd2}
  li Eircode: #{requestereircode}
  li County: #{requestercounty}
  li E-Mail: #{requesteremail}
  li Telephone: #{requesterworkphone}
p. 
  Kind regards, #[br]
  Temporary Assignments Scheme