p Dear #{requesterfirstname} #{requestersurname},
p Following on from your submission of Request-#{requestid}, this e-mail is to notify you of the assignment of an applicant to you.
p Their contact information is below, please make contact with them as soon as possible. Please update the portal as to whether they took up or refused reassignment.
ul
  li Name: #{applicantfirstname} #{applicantsurname} 
  li E-Mail: #{applicantemail}
  li Telephone: #{applicantphone}
p. 
  Kind regards, #[br]
  Temporary Assignments Scheme